---
import { ViewTransitions } from 'astro:transitions';
import { InfoPoke } from '../consts/info'

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title = InfoPoke.title, description = InfoPoke.description, image } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
    <!-- SEO -->
    <meta name="description" content={description}/>
    <meta name="author" content={'Jean Pool Rojas'}/>
    
    <!-- OG METATAGS -->
    
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={image} />
    
    <title>{title}</title>
    <ViewTransitions  />
	</head>
	<body class="max-w-3xl m-auto bg-[#FFDFBA] text-black">
		<main class="my-4">
      <slot />
    </main>
	</body>
</html>